@charset "UTF-8";
@import "./common.css";

.article-content {
  padding-top: calc(var(--menu-height) * 1.5);
  font-size: 1.1rem;
  line-height: 1.8;
}

.article-content h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--color-barro);
}

.article-content h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.article-content p {
  margin-bottom: 1rem;
}

.article-content ul {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.article-content li {
  margin-bottom: 0.5rem;
}